
<!-- Component social media button-->
<div class="app-social-media-main">
  <ng-container *ngFor="let item of options">
    <ng-container [ngTemplateOutlet]="this[item.name]" [ngTemplateOutletContext]="{ $implicit: item}">
    </ng-container>
  </ng-container>
</div>


<!-- instagram icon -->
<ng-template #instagram let-option>
  <ng-container *ngIf="option.square; else elseTemplate">
    <span >
      <a href="{{option?.url}}" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="['fab', 'instagram-square']" size="2x" [ngStyle]="{'color': option.color}"
        aria-label="Midia social instagram" title="Instagram"></fa-icon>
      </a>
    </span>
  </ng-container>
  <ng-template #elseTemplate>
    <span>
      <a href="{{option?.url}}" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="['fab', 'instagram']" size="2x" [ngStyle]="{'color': option.color}"
        aria-label="Midia social instagram" title="Instagram"></fa-icon>
      </a>
    </span>
  </ng-template>
</ng-template>

<!-- Facebook icon -->
<ng-template #facebook let-option>
  <ng-container *ngIf="option.square; else elseTemplate">
    <span>
      <a href="{{option?.url}}" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'facebook-square']" size="2x" [ngStyle]="{'color': option.color}"
      aria-label="Midia social facebook" title="Facebook"></fa-icon>
    </a>
    </span>
  </ng-container>
  <ng-template #elseTemplate>
    <span>
      <a href="{{option?.url}}" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'facebook']" size="2x" [ngStyle]="{'color': option.color}"
      aria-label="Midia social facebook" title="Facebook"></fa-icon>
    </a>
    </span>
  </ng-template>
</ng-template>

<!-- whatsapp icon -->
<ng-template #whatsapp let-option>
  <ng-container *ngIf="option.square; else elseTemplate">
    <span>
      <a href="{{option?.url}}" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="['fab', 'whatsapp-square']" size="2x" [ngStyle]="{'color': option.color}"
        aria-label="Midia social whatsapp" title="Whatsapp"></fa-icon>
      </a>
    </span>
  </ng-container>
  <ng-template #elseTemplate>
    <span>
      <a href="{{option?.url}}" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="['fab', 'whatsapp']" size="2x" [ngStyle]="{'color': option.color}"
        aria-label="Midia social whatsapp" title="Whatsapp"></fa-icon>
      </a>
    </span>
  </ng-template>
</ng-template>

