<p>oii</p>
<ng-container *ngTemplateOutlet="square"></ng-container>

<ng-template #square>
  <span>
    <fa-icon [icon]="['fab', 'facebook-square']" size="2x" [ngStyle]="{'color': '#3b5998'}"></fa-icon>
  </span>
  <span>
    <fa-icon [icon]="['fab', 'instagram-square']" size="2x" [ngStyle]="{'color': '#3b5998'}"></fa-icon>
  </span>
  <span>
    <fa-icon [icon]="['fab', 'facebook-square']" size="2x" [ngStyle]="{'color': '#3b5998'}"></fa-icon>
  </span>
</ng-template>


<ng-template #default>
  <span>
    <fa-icon [icon]="['fab', 'facebook-square']" size="2x" [ngStyle]="{'color': '#3b5998'}"></fa-icon>
  </span>
  <span>
    <fa-icon [icon]="['fab', 'instagram']" size="2x" [ngStyle]="{'color': '#3b5998'}"></fa-icon>
  </span>
  <span>
    <fa-icon [icon]="['fab', 'facebook-square']" size="2x" [ngStyle]="{'color': '#3b5998'}"></fa-icon>
  </span>
</ng-template>
