<section>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-searchbar animated placeholder="Buscar na sua lista"></ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-row class="row-colecao ion-align-items-center">
            <ion-col>
                <ion-label>Coleções</ion-label>
                <span>0</span>
            </ion-col>
            <ion-col>
                <ion-label>Lista de desejo</ion-label>
                <span>0</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</section>