<section>
  <ion-grid style="padding: 0;">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="10">
        <ion-searchbar animated="true" placeholder="Explorar" inputmode="search" style="padding:0;"></ion-searchbar>
      </ion-col>
      <ion-col size="1">
        <div class="app-button-icon" (click)="buttonCaract = !buttonCaract" [ngClass]="{'app-b-i-active': buttonCaract}">
          <fa-icon [icon]="['fas', 'angle-double-up']" size="2x" ></fa-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="buttonCaract">
    <div>
      <ion-slides
      [options]="{ slidesPerView: false, loop: true }">
      <ion-slide>
        <div class="app-slide-icon">
          <fa-icon [icon]="['fas', 'angle-double-up']" size="2x" ></fa-icon>
          <ion-label>Label</ion-label>
        </div>
      </ion-slide>
      <ion-slide>Slide 3</ion-slide>
      <ion-slide>Slide 3</ion-slide>
    </ion-slides>
    </div>
  </ng-container>
</section>


