
@use '../../../theme/utils/transitions';

.app-button-icon {
  transform: rotate(0deg);
  transition: transitions.fast-out-slow(transform);
  &.app-b-i-active {
    transform: rotate(180deg);
    transition: transitions.fast-out-slow(transform);
  }
}

.app-row-slide-icon {
  overflow-x: auto;
  flex-flow: nowrap;
  ion-col{
    text-align: center;
    max-width: 80px !important;
    height: 50px;
    .app-slide-icon {
      font-size: 12px;
      display: grid;
    }
  }
}
