$input-height-google: 40px;

.label-float-main {
  position: relative;
  padding-top: 13px;
  height: $input-height-google;
  &.invalid {
    ion-label {
      color: #f53d3d !important;
    }
    ion-input {
      border: 2px solid #f53d3d !important;
    }
  }

  ion-input  {
    padding-left: 10px !important;
    background-color: transparent;
    border: 2px solid var(--ion-color-step-250);
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-appearance: none;
    &.has-focus {
      border: 2px solid var(--ion-color-primary);
    }
    &::placeholder {
      color: transparent;
    }
  }
  .label-floating-google {
    z-index: 10;
    font-size: $font-size-base;
    color: var(--ion-text-color);
    background-color: var(--ion-background-color) !important;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 1px);
    left: 20px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    background-color: var(--ion-background-color);
    padding-top: 5px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
  }
}

.label-float-main ion-input.has-focus + .label-floating-google,
ion-input:not(:placeholder-shown):not(.ion-invalid) + .label-floating-google {
  font-size: 13px !important;
  top: 0;
  color: var(--ion-color-secondary);
}
.label-float-main ion-input:not(.has-focus):not(.has-value):not(:placeholder-shown):not(.ion-invalid) + .label-floating-google{
  font-size: 12px !important;
  top: 0;
  color: var(--ion-text-color);
}


// e

.label-float {
  position: relative;
  padding-top: 13px;
  &.invalid {
    label {
      color: #f53d3d !important;
    }
    input {
      border: 2px solid #f53d3d !important;
    }
  }

  input {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-appearance: none;
    &:focus {
      border: 2px solid #3951b2;
    }
    &::placeholder {
      color: transparent;
    }
  }
  label {
    font-size: $font-size-base;
    color: #fff;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 20px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    background-color: #3880ff;
    padding-top: 5px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
  }
}

.label-float input:focus + label,
input:not(:placeholder-shown):not(.invalid) + label {
  font-size: 13px;
  top: 0;
  color: #3951b2;
}
.label-float input:not(:focus):not(:placeholder-shown):not(.invalid) + label {
  font-size: 13px;
  top: 0;
  color: #fff;
}
