$input-height-google: 40px;

.label-select-option-google {
  position: relative;
  padding-top: 13px;
  height: $input-height-google;

  ion-select.ion-invalid {
    border: 2px solid var(--ion-color-danger) !important;
  }

  ion-select  {
    height: $input-height-google;
    padding-left: 10px !important;
    background-color: transparent;
    border: 2px solid var(--ion-color-step-250);
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: $font-size-base;
  }
  ion-label {
    font-size: 13px;
    z-index: 10;
    font-size: $font-size-base;
    color: var(--ion-text-color);
    background-color: var(--ion-background-color) !important;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: var(--ion-background-color);
    padding-top: 5px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
  }
}
.label-select-option-google ion-select:not(.ion-invalid) + ion-label,
.label-select-option-google ion-select.ion-valid + ion-label {
  font-size: 12px !important;
  color: var(--ion-color-secondary);
}
