ion-item::part(native) {
  //WRITE ALL YOUR CSS RULES HERE
  padding-left: unset;
  /** and lots more **/
}

.app-senha-text {
  font-size: 14px;
  text-align: center;
}

.botao-main {
  width: 100%;
  ion-button {
    height: 32px;
    width: 2700px;
  }
}
