ion-card-header {
  text-align: start;
  padding-top: 8px;

  ion-card-title {
    font-size: 14px;
  }
  ion-card-subtitle {
    font-size: 9px;
  }
}

ion-card-content {
  min-height: 70px;
  min-width: 300px;
  width: auto;
  max-width: 500px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 13px;
  text-align: justify;
}


